{
    "presets": [
        [
            "@babel/preset-env",
            { //适用于业务代码
                "targets": {
                    "chrome": "67" //运行在版本大于67的chrome浏览器下
                },
                "useBuiltIns": "usage" //做babel-polyfill填充的时候不是把所有的都加进来，而是根据业务代码来加，比如业务代码用到了map，那么久只增加map垫片
            }
        ],
        "@babel/preset-react" //执行顺序从下到上，从右到左先执行@babel/preset-react，再执行@babel/preset-env
    ]
}